<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/_head.ejs') %>
  </head>
</html>
<body>
  <%- include ('./partials/_header.ejs') %>
  <div style="text-align:center; padding-top: 2rem">
    <h3><%=title%></h3>
    <p><%= message1 %></p>
    <p><%= message2 %></p>
    <p></p>
  </div>
</body>
